.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: auto;
  padding: 1em;
  font-family: $font__sans;
  color: #fff;
  background-color: $color__skin;

  @media screen and (min-width: $query__small) {
    padding: 1em 2em;
  }

  @media screen and (min-width: $query__medium) {

    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
  }
}

// Import footer menu
@import "footer-menu";