.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  margin-top: auto;

  font-family: $font__sans;
  background-color: $color__skin;

  @media screen and (min-width: $query__small) {
    padding: 1em 2em;
  }

  @media screen and (min-width: $query__medium) {

    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
  }
}

.contact-info {
  margin-left: 2em;
  position: relative;
  display: block;
  font-family: $font__sans;
  color: #999999;
  font-size: 12px;
  float: left;

  table {
    border: none;
    text-align: left;
    border-spacing: 0.4em;
  }

}

// Import footer menu
@import "footer-menu";