# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\SSD\Uni\JCU\BoIT__3.1\CMS\Assignment 2\assignment02\JazzClub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
